
<div class="pageContent">
	<form method="post" action="/category/types/create" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="56">
			<p>
				<label>名称: </label>
				<input name="name" type="text" size="30" alt=""/>
			</p>
			<p>
				<label>从属大类: </label>
				<input name="temp" type="text" size="30" alt=""/>
			</p>
			<p>
				<label>代码: </label>
				<input name="code" type="text" size="30" alt=""/>
			</p>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
